{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<h2>Applied Candidate List</h2>

<div class="container">
<table class="table table-hover" id="example">
    <thead>
    <tr style="background-color: rgb(236, 186, 78); color: aliceblue;">
        <th>S.No</th>
        <th>FullName</th>
        <th>Email ID</th>
        <th>Contact No.</th>
        <th>Job Title</th>
        <th>Company</th>
        <th>ApplyDate</th>
        <th>Resume</th>
        <th>Action</th>
    </tr>
    </thead>

<tbody>
{% for i in data %}
{% if request.user.id == i.job.recruiter.user.id %}

<tr style="background-color: rgb(253, 133, 5);">
    <td>{{forloop.counter}}</td>
    <td>{{i.student.user.first_name}} {{i.student.user.last_name}}  </td>
    <td>{{i.student.user.username}}</td>
    <td>{{i.student.mobile}}</td>
    <td>{{i.job.title}} </td>
    <td>{{ i.job.recruiter.company }}</td>
    <td>{{i.applydate}} </td>
    <td><a href="{{i.resume.url}} ">download Resume</a> </td>
    <td><a href="{% url 'delete_job' i.id %}" class="btn btn-danger btn-sm">Delete</a>
    </td>
    
</tr>
{% endif %}
{% endfor %}
</tbody>

</table>
</div>

{% endblock %}