{% load static %}

{% block body %}

{% include 'user_navigation.html' %}

<marquee behavior="" direction=""><h2>job details</h2></marquee>

<div class="container shadow-lg">
<div class="row">
    <div class='col-md-4' style="margin-top: 0%;">
        <img src="{{job.image.url}}" style="width: 350px;height: 250px;" alt="">
    </div>

    <div class='col-md-6'>
        <h2>{{job.title}}</h2>
        <p>{{job.recruiter.company}}</p>
        <p><a href="https://www.google.com/search?q=pune+map&rlz=1C1CHBD_enIN1085IN1085&oq={{job.location}}+map&gs_lcrp=EgZjaHJvbWUyDAgAEEUYORixAxiABDIHCAEQABiABDIHCAIQABiABDIHCAMQABiABDIHCAQQABiABDIHCAUQABiABDIHCAYQABiABDIHCAcQABiABDIHCAgQABiABDIHCAkQABiABNIBCDM4ODlqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8"><i class="fa fa-map-marker mr-2"></i>{{job.location}}</a></p>
        <a href=""><i class="fa-solid fa-calendar-days"></i>Postdate : {{job.creationdate}}</a>
        <p style="margin-top: 3%;"><strong>Salary : <i class="fa-solid fa-indian-rupee-sign"></i> {{job.salary}}</strong></p>
        <a href="{% url 'applyforjob' job.id %}" class="btn btn-success">Apply</a>
        
    </div>
    
</div>

<div style="margin-left: 0%;">
    <h4>Overview:</h4>
    <p>{{job.description}}</p>
</div>
<div >
    <h4>Skills:</h4>
    <p>{{job.skills}}</p>
</div>

<div >
   <h4>Date:</h4>
   <p><B>Start Date:</B>{{job.start_date}}</p>
   <p><B>End Date:</B>{{job.end_date}}</p>
    

    <h4>Experience:</h4>
    <p>{{job.experience}}</p>
</div>
</div>
{% endblock %}
